h1 {
    margin-top: 0;
    margin-bottom: 32px;
}

#mainContent {
    display: grid;
    padding-inline: 16px;
    padding-top: 12px;
    grid-template-columns: 3fr 2fr;
    gap: 16px;
    max-height: 80vh;
}

#messagesContainer {
    max-height: 100%;
    overflow-y: auto;
}

#messagesContainer, #searchContainer {
    height: 100%;
}

#messagesContent {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.messageBox {
    background: black;
    border: 2px white solid;
    padding: 16px;
    
    min-width: 100px;
    max-width: 300px;
    min-height: 50px;
    max-height: 150px;
}

.messageBox p {
    margin-top: 0px;
    margin-bottom: 0px;
    
    display: -webkit-box;
    -webkit-line-clamp: 8;
    line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

@media (min-width: 830px) {
    .messageBox {
        width: 300px;    
        height: 150px;   
        min-width: unset;
        max-width: unset;
        min-height: unset;
        max-height: unset;
    }
}

@media (max-width: 829px) {
    .messageBox {
        width: 100%;
        min-height: 100px;
        max-height: 100px;
    }

    #mainContent {
        display: grid;
        grid-template-columns: unset;
        grid-template-rows: 1fr 6fr;
    }

    #mainContent h1 {
        margin-bottom: 6px;
    }

    #searchContainer h1 {
        margin-bottom: 6px;
    }

    #searchContainer {
        order: -1;
        border-bottom: 2px solid white;
        margin-bottom: 12px;
    }

    #searchContainer form {
        display: block;
        gap: unset;
    }

    .messageBox p {
        -webkit-line-clamp: 5;
        line-clamp: 5;
    }

        #messagesContent {
            padding-bottom: 16px;
        }
}

@media (max-width: 570px) {
    #paste-button {
        display: none;
    }
}

.messageBox p {
    margin-top: 0px;
}

#search-input {
    display: flex;
    gap: 8px;
    margin-bottom: 8px;
}

#searchContainer form input {
    padding: 8px;
    background: black;
    border: 2px solid white;
    font-size: 24px;
    box-sizing: border-box;
    width: 100%;
    font-size: 18px;
}

#searchContainer form input:disabled {
    border: 2px solid  gray;
    color: gray;
}

#searchContainer form input:focus{
    border: 2px solid  greenyellow;
    outline: none;
}

#paste-button {
    width: 128px;
    height: 48px;
}

#search-message-button {
    width: 100%;
    height: 32px;
}

#yourMessageModal .modal-content{
    width: 100%;
}

#yourMessage {
    width: 70%;
}

#yourMessageModalBox {
    width: 85%;
}

.messageBox-createdAt {
    display: flex;
    gap: 6px;
    padding-bottom: 6px;
}

.messageBox-createdAt-date, .messageBox-createdAt-time {
    color: greenyellow;
}

#retry-button-messages {
    width: 128px;
    height: 32px;
}

.cesarz-response {
    color: yellow;
}