* {
    font-family: "VT323";
    letter-spacing: 1px;
    color: white;
}

.filterWhite {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(126deg) brightness(107%) contrast(102%);
}

body {
    margin: 0;
    min-height: 100vh;
    background: black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
}

main {
    /*border: 2px solid green;*/
    display: grid;
    align-items: flex-start;
    padding-top: 25vh;
    overflow-y: auto;
    min-height: 0;
}

footer {
    margin: 0;
    display: flex;
    border-top: 2px solid white;
    background: black;
    padding: 10px 24px;
    position: sticky;
    bottom: 0;
    min-height: 32px;
    align-items: center;
    justify-content: space-between;
    gap: 64px;
}

#footerHackerNoonAttribution {
    display: flex;
    gap: 8px;
    align-items: center;
}

#footerHackerNoonAttribution a {
    color: greenyellow;
    text-decoration: none;
}

#footerHackerNoonAttribution a:hover {
    color: yellow;
}

#footerSocialIcons {
    display: flex;
    gap: 8px;
    align-items: center;
}

#footerSocialIcons div {
    margin-right: 8px;
}


#footerSocialIcons a {
    display: flex;
    align-items: center;
    height: 28px;
}

#footerSocialIcons img {
    display: block;
}

#footerSocialIcons a:hover {
    filter: brightness(0) saturate(100%) invert(90%) sepia(53%) saturate(1122%) hue-rotate(23deg) brightness(105%) contrast(100%);
}

#footerSocialIcons a:focus {
    filter: brightness(0) saturate(100%) invert(99%) sepia(33%) saturate(7493%) hue-rotate(351deg) brightness(100%) contrast(105%);
}

#messageForm {
    display: grid;
    
    justify-items: center;
}

#messageForm button {
    width: 125px;
    height: 35px;
    background: black;
    border: 2px solid white;
    font-size: 16px;
}

#messageForm button:hover {
    border: 2px solid #adff2f;
}

#messageForm button:focus {
    border: 2px solid yellow;
}

#messageForm button:disabled {
    border: 2px solid gray;
    color: gray;
}

#messageForm label {
    font-size: 20px;
}

#messageForm textarea {
    resize: none;
    padding: 8px;
    background: black;
    border: 2px solid white;
    font-size: 24px;
}

#messageFormResult {
    justify-self: center;
    text-align: center;
}

@media screen and (max-width: 425px) {
    #messageForm textarea {
        width: 300px;
    }

  
    #messageFormResult {
        max-width: 300px;
    }

  /*#footerHackerNoonAttribution div {
    font-size: 14px;
  }*/
}

@media screen and (max-width: 345px) {
    #messageForm textarea {
        width: 275px;
    }

  /*#footerHackerNoonAttribution div {
    font-size: 14px;
  }*/
}

#messageForm textarea:focus{
    border: 2px solid  greenyellow;
    outline: none;
}

#messageForm textarea:disabled{
    border: 2px solid  gray;
    color: gray;
}

.statusOk {
    color: greenyellow;
}

.statusFailed {
    color: red;
}

#messageForm #msgForm_submitContainer {
    display: flex;
    align-items: center;
}

#messageForm #msgForm_submitContainer div {
    display: flex;
    align-items: center;
    margin-left: 6px;
}