* {
    font-family: "Pixelify Sans";
    color: white;
}

.filterWhite {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(126deg) brightness(107%) contrast(102%);
}

body {
    margin: 0;
    min-height: 100vh;
    background: black;
}

#container {
    /*border: 1px solid black;*/
    display: flex;
    min-height: 100%;
    margin: 0;
    justify-content: center;
    align-items: flex-start;
    padding-top: 25vh;
}

#mainContent {
    /*border: 1px solid black;*/
    display: grid;
    justify-items: center;
}

#messageForm {
    display: grid;
    height: 100%;
    justify-items: center;
}

#messageForm button {
    width: 125px;
    height: 35px;
    background: black;
    border: 2px solid white;
    font-size: 16px;
}

#messageForm button:hover {
    border: 2px solid greenyellow;
}

#messageForm button:focus {
    border: 2px solid yellow;
}

#messageForm button:disabled {
    border: 2px solid gray;
    color: gray;
}

#messageForm label {
    font-size: 20px;
}

#messageForm textarea {
    resize: none;
    padding: 8px;
    background: black;
    border: 2px solid white;
    font-size: 16px;
}

#messageForm textarea:focus{
    border: 2px solid  greenyellow;
    outline: none;
}

#messageForm textarea:disabled{
    border: 2px solid  gray;
    color: gray;
}

.statusOk {
    color: greenyellow;
}

.statusFailed {
    color: red;
}

#messageForm #msgForm_submitContainer {
    display: flex;
    align-items: center;
}

#messageForm #msgForm_submitContainer div {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-left: 12px;
}