* {
    font-family: "VT323";
    letter-spacing: 1px;
    color: white;
}

.filterWhite {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(126deg) brightness(107%) contrast(102%);
}

body {
    margin: 0;
    min-height: 100vh;
    background: black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

main {
    /*border: 2px solid green;*/
    display: grid;
    align-items: flex-start;
    overflow-y: auto;
    min-height: 0;
}

header {
    border-bottom: 2px solid white;
    margin: 0;
    display: flex;
    position: sticky;
    background: black;
    padding: 10px 24px;
    min-height: 32px;
    align-items: center;
}

#headerNavigation {
    display: flex;
    gap: 24px;
}

.nav-button{
    text-decoration: none;
    font-size: 22px;
}

.nav-button:hover{
    color: greenyellow;
}

.nav-button:focus{
    color: yellow;
}

footer {
    border-top: 2px solid white;
    margin: 0;
    display: flex;
    position: sticky;
    background: black;
    padding: 10px 24px;
    min-height: 32px;
    align-items: center;
    justify-content: space-between;
    gap: 64px;
}

#footerHackerNoonAttribution {
    display: flex;
    gap: 8px;
    align-items: center;
}

.highlight-nav-button {
    text-decoration: none;
    color: greenyellow;
}

.highlight-nav-button:hover {
    color: yellow;
}

#footerSocialIcons {
    display: flex;
    gap: 8px;
    align-items: center;
}

#footerSocialIcons div {
    margin-right: 8px;
}


#footerSocialIcons a {
    display: flex;
    align-items: center;
    height: 28px;
}

#footerSocialIcons img {
    display: block;
}

#footerSocialIcons a:hover {
    filter: brightness(0) saturate(100%) invert(90%) sepia(53%) saturate(1122%) hue-rotate(23deg) brightness(105%) contrast(100%);
}

#footerSocialIcons a:focus {
    filter: brightness(0) saturate(100%) invert(99%) sepia(33%) saturate(7493%) hue-rotate(351deg) brightness(100%) contrast(105%);
}