main {
 margin-inline: 24px;
 margin-bottom: 24px;
}
main div {
 font-size: 22px;
 max-width: 600px;
}
#rulesModal ul{
 display: flex;
 list-style-type: none;
 gap: 4px;
 margin-left: 0;
 padding-left: 16px;
 flex-direction: column;
}